<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview active menu-open">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Bpkb/Create"><i class="fa fa-circle-o"></i> Input BPKB</a></li>
        </ul>
    </li>
</ul>
